  <%= stylesheet_link_tag "/extjs/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" %>
   	<%= stylesheet_link_tag "/css/icon.css" %>
   	<%= stylesheet_link_tag "/css/css.css" %>

   	<%= stylesheet_link_tag "/css/styles.css" %>
	<%= javascript_include_tag "/extjs/build/ext-all.js" %>
	<%= javascript_include_tag "/extjs/build/packages/ext-theme-crisp/build/ext-theme-crisp.js" %>


	<%= javascript_include_tag "/app.js" %>
 <!DOCTYPE html>
<html>
<head>
	<title>Loading</title>
	<style type="text/css">
	.body{
		background-color: rgb(15, 68, 113) ;

	}
	.header{
		color: white;
		  font-weight: bold;
		  font-size: 30px;
		  /*padding-top:%;*/
		  padding-bottom:10%;
		  display: inline-block;
	}
	</style>
</head>
<body class="body" >
<div style="text-align:center">

	<div class="header">
		<h1>Sale Management System</h1>
	</div>
	<div>

		<img src="/images/icons	/progress_ring.gif" style="width:100px" >
	</div>
</div>
</body>
</html>
